* {
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: url(../images/grey_back.png) repeat;
    height: 545px;
}

.container {
    max-width: 1160px;
    width: 80%;
    margin: 0 auto;
}

/*.header .container {
    background: url(../images/slide1.png) no-repeat right 30px bottom 0;
    
}*/

/*.fon {
    background: url(../images/slide1.png) no-repeat right 30px bottom 0;
    height: 545px;
}*/

.fon {
    display: flex;
    flex-direction: column;
    height: 545px;
}

a {
    text-decoration: none;
    color: black;
}

.nav_exam ul {            /*Для бургера*/
    display: none;
    list-style: none;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header_menu_items {
    display: flex;
}

.header_menu_item {
    list-style: none;
}

.header_menu_item:not(:last-child) {
    margin-right: 55px;
}

.header_menu_item,
.header_basket {
    font-size: 16px;
    text-transform: uppercase;
}

.header_basket {
    display: flex;
}

.header_basket p {
    margin-left: 25px;
}

.header_text {
    display: flex;
    justify-content: space-between;
    background: url(../images/slide1.png) bottom right 30px no-repeat;
    flex-grow: 1;
}

.header_text h1 {
    font-size: 55px;
    margin: 70px 0 20px;                                /*!!!!!!!!!!!!!!*/
}

.header_text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;                                /*!!!!!!!!!!!!!!*/
    color: #283136;
}

.header_text .btn {
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
}

.grid {                                                       /*GRID*/
    display: grid;
    grid-template-columns: 306px 306px 306px;
    grid-gap: 90px;
    padding: 80px 0;
    border-bottom: 2px solid #eeeeee;
}

.grit_item {
    display: grid;
    grid-gap: 30px;
}

.grit_item h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.grit_item p {
    font-size: 16px;
    line-height: 26px;
    color: #454c51;
    margin: 30px 0 40px;
}

.grit_item .btn {
    width: 160px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
}

.grit_item .red {
    background-color: #fb565a;
}

.grit_item .green {
    background-color: #00ca74;
}

.grit_item .yellow {
    background-color: #efc84a;
}

.about {                                                           /*ABOUT*/
    display: flex;
    padding: 40px 0 80px;
    border-bottom: 2px solid #eeeeee;
}

.about_info {
    margin-right: 100px;                         /*!!!!!!!!!! ПЕРЕПРОВЕРИТЬ !!!!!!!!!!!!*/
}

.about_info h2 {
    font-size: 36px;
    line-height: 48px;
    margin-top: 40px;
}

.about_info p {
    font-size: 16px;
    line-height: 26px;
    color: #454c51;
    margin: 30px 0 40px;
}

.about_info li {
    font-size: 16px;
    color: #454c51;
}

.about_info h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.list {
    list-style: none;
}

.point {
    position: relative;
    padding: 0 0 0 40px;
    margin-top: 35px;
}

.line {
    width: 25px;
    height: 2px;
    background-color: #fb565a;

    position: absolute;
    top: 10px;
    left: 0px;
}

.illustration {
    text-align: center;
    margin-bottom: 50px;
}

.size p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.statistics {
    display: flex;
}

.statistics .sup {
    font-size: 45px;
    font-weight: bold;
}

.statistics .sup:not(:last-child) {
    margin-right: 20px;
}

.statistics .text {
    font-size: 16px;
    color: #454c51;
    margin-top: 30px;
}

.section_wrapper {                                      /*SECTION*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    border-bottom: 2px solid #eeeeee;
}

.section_shop {
    height: 92px;
}

.section_shop a {
    vertical-align: middle;
}

.section_shop:not(:last-child)::after {
    content: '';
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    display: inline-block;
    margin-left: 45px;
    transform: translateY(20px);
}

.nav {                                                  /*NAV*/
    margin-top: 80px;
}

.nav_wrapper {
    position: relative;
}

.nav_fon {
    position: absolute;
    bottom: 40px;
    left: 0px;
}

.nav_fon a {
    position: relative;
}

.fon_h {
    position: absolute;
    top: 1px;
    left: 1px;
    margin: 50px 0 50px 50px;
}

.fon_h h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.fon_h p {
    font-size: 16px;
    color: #666666;
}

.fon_h .tel {
    margin: 20px 0 40px
}

.fon_h .btn {
    width: 220px;
    height: 50px;
    background-color: #fb565a;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
}

.footer_wrapper {                                       /*FOOTER*/
    display: flex;
    align-items: center;
    padding: 70px 0;
}

.footer_social {
    display: flex;
}

.footer_social .vk {
    background-color: #e1e1e1;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
}

.footer_social .vk:not(:last-child) {
    margin-right: 10px;
}

.footer_social .vk:hover {
    background-color: #0524ad;
}

.footer_text {
    margin-left: 140px;
}

.footer_text p {
    font-size: 36px;
    font-weight: bold;
}

.footer_text .style {
    display: block;
    white-space: normal;
    font-size: 16px;
    font-weight: normal;
    color: #444444;
    margin-top: 20px;
}